@model Popis.Models.Smjer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Smjer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NAZIV_SMJER)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NAZIV_SMJER)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID_SMJER">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
